root = true

# All Files
[*]
charset = utf-8
trim_trailing_whitespace = false
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true

# YAML Files
[*.yml]
end_of_line = lf
indent_size = 2
indent_style = space

# Windows Batch Files
[*.bat]
end_of_line = crlf
indent_style = space

# Windows Command files
[*.cmd]
end_of_line = crlf
indent_style = space

# Markdown Files
[*.md]
end_of_line = lf
trim_trailing_whitespace = false
